body{
  font-family: 'Lato', sans-serif;
  color: #fff;
}

/* UTILITIES */
h1,
h2,
h4{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.container h2{
  font-size: 36px;
}

p{
  font-size: 20px;
}

.background-acqua{
  background: #1abc9c;
}
.mt-50{
  margin-top: 50px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-20{
  margin-bottom: 20px;
}

.padd-top-bot-90{
  padding-top: 90px;
  padding-bottom: 90px;
}

.background-dark{
  background: #2c3e50;
}

.division{
  margin: 25px 0;
  display: block;
  max-width: 100%;
}

.div-line{
  margin-bottom: 10px;
  height: 5px;
  width: 110px;
  background: #fff;
  display: inline-block;
  border-radius: 5px;
}

.div-star{
  display: inline-block;
  font-size: 30px;
  margin: 0 15px;
}

/* HEADER */
.navbar-default{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background: #2c3e50;
  border-radius: 0;
  border: none;
  height:100px;
  line-height: 100px;
  margin-bottom: 0;
  text-transform: uppercase;
}

.navbar-default .navbar-brand{
  height: 100px;
  line-height: 100px;
  padding: 0 15px;
  font-size: 20px;
  color: #fff;
}

.navbar-default .navbar-brand:hover{
  color: inherit;
}

.navbar-default .navbar-nav > li > a{
  height: 100px;
  line-height: 100px;
  padding: 0 15px;
  font-size: 16px;
  color: #fff;
}

.navbar-default .navbar-nav > li > a:hover{
  color: #1abc9c;
}
.navbar-toggle{
  margin-top: 33px;
}

/* HERO */
.box-hero img{
  height: 250px;
}

.hero .box-hero h1{
  font-size: 48px;
}

.hero .box-hero p{
  font-size: 20px;
}

/* PORTFOLIO */
[class*="box-port-"] {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  height: 290px;
  border-radius: 5px;
  background: pink;
}

.portfolio{
  color: #2c3e50;
}

.portfolio .division .div-line{
  background: #2c3e50;
}

[class*="box-port-"] img{
  width: 100%;
  height: 100%;
}
/* ABOUT */



/* CONTACT */
.contact{
  height: 300px;
}

/* FOOTER */
.footer{
  height:200px;
}

/* TABLET */
@media screen and (min-width: 768px){
  [class*="box-port-"]{
    width: 100%;
    height: 225px;
  }

  .box-port-5,
  .box-port-6{
    margin-bottom: 0;
  }

  .navbar-default .navbar-brand{
    font-size: 28px;
  }

  .hero .box-hero h1{
    font-size: 64px;
  }

  .hero .box-hero p{
    font-size: 28px;
  }
}

/* DESKTOP */
@media screen and (min-width: 992px){
  [class*="box-port-"]{
    width: 100%;
    height: 240px;
  }

  .box-port-4,
  .box-port-5,
  .box-port-6{
    margin-bottom: 0;
  }
}
